## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

## IDE
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## ASP.NET
project.lock.json
ScaffoldingReadMe.txt

## Secrets
appsettings.*.local.json
